@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

$fontStack: 'Bitter', 'IBM Plex Serif', serif;
$shadedBgColor: #DDD;
$mainBgColor: white;

$titleFontStack: 'Alegreya SC', Garamond, serif;
$titleFont: 800 24pt $titleFontStack;

body {
    font-family: $fontStack;
    width: 100%;
}

input {
    font-family: $fontStack;
}

h1 {
    font: $titleFont;
    font-variant-caps: small-caps;
}

.sheet-card {
    max-width: 37.5%;
    min-width: 700px;
    margin: auto;
}

.card-section {
    margin-bottom: 30px;
    padding: 10px;
}

div.white-card-entry {
    background-color: $mainBgColor;
    padding: 4pt;
    border-radius: 8px;
}

.white-card-entry>p {
    font: bold 12pt $fontStack;
    margin: 4px;
}

div.white-card-entry>input {
    border: none;
    width: 90%;
}

div.shaded-area {
    background-color: $shadedBgColor;
}

div.shaded-area.card-section {
    border-radius: 8px;
}

div.horizontal {
    display: flex;
    gap: 8px;
}

button.stat-label {
    font-weight: bold;
}

.dice-pool-entry {
    width: 20px;
    height: 20px;
    text-align: center;
}

#traits-desires {
    display: flex;
    gap: 10px;
}

#toolbar {
    display: flex;
}

.name-entry-input {
    font-size: 18pt;
    font-family: $fontStack;
    font-weight: normal;
}

#distinctive-features {
    width: 95%;
    border: none;
    resize: none;
    height: 80%;
    font-family: $fontStack;
}

#profile-section-card {
    border-top: 15px black solid;
    display: flex;
}

#name-entry {
    margin-bottom: 10px;
}

.distinctive-features {
    background-color: $mainBgColor;
}

div.vertical {
    display: inline;
}

#name-entry-section {
    flex-grow: 1;
}

#distinctive-features-section {
    flex-grow: 1;
}