@use 'charsheetSections/profile';
@use 'charsheetSections/stats';
@use 'charsheetSections/story_spark';
@use 'charsheetSections/conditions';
@use 'base';

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

$titleFont: 800 24pt base.$titleFontStack;

body {
    font-family: base.$fontStack;
    width: 100%;
}

input {
    font-family: base.$fontStack;
}

h1 {
    font: $titleFont;
    font-variant-caps: small-caps;
}

.sheet-card {
    max-width: 37.5%;
    min-width: 850px;
    margin: auto;
}

.card-section {
    margin-bottom: 30px;
    padding: 10px;
}

div.white-card-entry {
    background-color: base.$mainBgColor;
    padding: 4pt;
    border-radius: 8px;
}

.white-card-entry>p {
    font: bold 12pt base.$fontStack;
    margin: 4px;
}

div.white-card-entry>input {
    border: none;
    width: 90%;
}

div.shaded-area {
    background-color: base.$shadedBgColor;
}

div.shaded-area.card-section {
    border-radius: 8px;
}

.horizontal {
    display: flex;
    gap: 8px;
}

#traits-desires {
    display: flex;
    gap: 10px;
}

#toolbar {
    display: flex;
}

div.vertical {
    display: inline;
}

.no-grow {
    align-items: flex-start;
    align-content: flex-start;
}